@model IEnumerable<HAIRDRESSER2.Models.Randevu>

<h2>Randevularım</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Uzman Adı</th>
            <th>Uzman Soyadı</th>
            <th>İşlem</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var randevu in Model)
            {
                <tr>
                    <td>@randevu.Tarih.ToShortDateString()</td>
                    <td>@randevu.Saat</td>
                    <td>@randevu.Uzman?.Ad </td>
                    <td>@randevu.Uzman?.Soyad </td>
                    <td>@randevu.Islem?.Ad  </td>
                    <td>@randevu.Islem?.Fiyat.ToString("C") </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-danger text-center">Hiç randevunuz bulunmamaktadır.</td>
            </tr>
        }
    </tbody>
</table>
